In [2]:
import pyodbc as pyodbc
from pandas_datareader import data as pdr
import pandas as pd
import numpy as np
from datetime import datetime 
%matplotlib inline
import yfinance as yf
import config

#### Connect to sql server db and create stocks table

In [7]:
DRIVER = 'ODBC Driver 17 for SQL Server'
SERVER_NAME = 'LAPTOP-S1EISQB0'
DB_NAME = '70_461_Session7'
user=config.SQL_USER
pwd=config.SQL_PWD

In [8]:
conn_str = f"Driver={DRIVER};Server={SERVER_NAME};Database={DB_NAME};Authentication=SqlPassword;Encrypt=yes;TrustServerCertificate=Yes;UID={user};PWD={pwd}"
conn = pyodbc.connect(conn_str)
conn.autocommit = True 
cursor = conn.cursor()

In [9]:
rs = cursor.execute("select * from tblEmployee")

In [10]:
for i in rs:
    print(i)

(123, 'Jane', None, 'Zwilling', 'AB123456G ', datetime.date(1985, 1, 1), 'Customer Relations')
(124, 'Carolyn', 'Andrea', 'Zimmerman', 'AB234578H ', datetime.date(1975, 6, 1), 'Commercial')
(125, 'Jane', None, 'Zabokritski', 'LU778728T ', datetime.date(1977, 12, 9), 'Commercial')
(126, 'Ken', 'J', 'Yukish', 'PO201903O ', datetime.date(1969, 12, 27), 'HR')
(127, 'Terri', 'Lee', 'Yu', 'ZH206496W ', datetime.date(1986, 11, 14), 'Customer Relations')
(128, 'Roberto', None, 'Young', 'EH793082D ', datetime.date(1967, 4, 5), 'Customer Relations')
(129, 'Rob', None, 'Yalovsky', 'WF039886Z ', datetime.date(1981, 8, 31), 'Litigation')
(130, 'Gail', 'A', 'Wu', 'SR883921U ', datetime.date(1972, 2, 19), 'HR')
(131, 'Jossef', 'H', 'Wright', 'FU781952O ', datetime.date(1980, 8, 1), 'Commercial')
(132, 'Dylan', 'A', 'Word', 'SU416128W ', datetime.date(1989, 11, 28), 'Customer Relations')
(133, 'Diane', 'L', 'Wood', 'MF594311S ', datetime.date(1970, 12, 10), 'Commercial')
(134, 'Gigi', 'N', 'Wilson', 'ZQ071470Z ', datetime.date(1980, 1, 15), 'Customer Relations')
(135, 'Michael', None, 'Williams', 'OV366977J ', datetime.date(1980, 9, 15), 'HR')
(136, 'Ovidiu', 'V', 'Welcker', 'UM830485R ', datetime.date(1988, 10, 12), 'Commercial')
(137, 'Thierry', 'B', 'Wedge', 'GE056775L ', datetime.date(1988, 8, 11), 'Commercial')
(138, 'Janice', 'M', 'Watters', 'QG194296A ', datetime.date(1990, 7, 30), 'Commercial')
(139, 'Michael', 'I', 'Wang', 'BM792963U ', datetime.date(1968, 7, 13), 'Customer Relations')
(140, 'Sharon', 'B', 'Walton', 'SA071422P ', datetime.date(1968, 10, 17), 'Commercial')
(141, 'David', 'M', 'Walters', 'JW703438O ', datetime.date(1970, 10, 22), 'Customer Relations')
(142, 'Kevin', 'F', 'Vong', 'HA567992P ', datetime.date(1989, 8, 16), 'Customer Relations')
(143, 'John', 'L', 'Varkey Chudukatil', 'HC853020N ', datetime.date(1980, 11, 2), 'Litigation')
(144, 'Mary', 'A', 'Vargas', 'JJ995138N ', datetime.date(1979, 10, 18), 'HR')
(145, 'Wanida', 'M', 'Vanderhyde', 'BC456441N ', datetime.date(1992, 2, 1), 'Commercial')
(146, 'Terry', 'J', 'Vande Velde', 'HC364512Q ', datetime.date(1987, 11, 12), 'Customer Relations')
(147, 'Sariya', 'E', 'Valdez', 'GB370569V ', datetime.date(1971, 7, 26), 'Commercial')
(148, 'Mary', 'E', 'Valdez', 'WP346718G ', datetime.date(1974, 11, 16), 'Litigation')
(149, 'Jill', 'A', 'Uddin', 'JP544067O ', datetime.date(1990, 8, 4), 'Customer Relations')
(150, 'James', 'R', 'Turner', 'BR544348B ', datetime.date(1970, 6, 15), 'HR')
(151, 'Peter', 'J', 'Tsoflias', 'PS031251Z ', datetime.date(1970, 9, 22), 'Litigation')
(152, 'Jo', 'A', 'Trenary', 'YF329015Z ', datetime.date(1987, 10, 28), 'HR')
(153, 'Guy', 'R', 'Tomic', 'AA327196C ', datetime.date(1975, 5, 9), 'Customer Relations')
(154, 'Mark', 'K', 'Ting', 'SC568031A ', datetime.date(1972, 9, 12), 'Commercial')
(155, 'Britta', 'L', 'Tiedt', 'UR891641O ', datetime.date(1976, 11, 14), 'Customer Relations')
(156, 'Margie', 'W', 'Tibbott', 'WZ431413L ', datetime.date(1990, 12, 29), 'Commercial')
(157, 'Rebecca', 'A', 'Tejani', 'MB889927Z ', datetime.date(1967, 6, 21), 'HR')
(158, 'Annik', 'O', 'Tamburello', 'YX712825J ', datetime.date(1987, 2, 16), 'HR')
(159, 'Suchitra', 'O', 'Sunkammurali', 'GO107833S ', datetime.date(1978, 7, 26), 'Customer Relations')
(160, 'Brandon', 'G', 'Sullivan', 'KI423518P ', datetime.date(1969, 4, 14), 'Commercial')
(161, 'Jose', 'R', 'Su', 'RA831250L ', datetime.date(1986, 5, 21), 'Commercial')
(162, 'Chris', 'O', 'Steele', 'QE827695A ', datetime.date(1994, 4, 6), 'Customer Relations')
(163, 'Kim', 'B', 'Stahl', 'FU098115B ', datetime.date(1983, 10, 15), 'HR')
(164, 'Ed', 'R', 'Stadick', 'AR855935J ', datetime.date(1981, 12, 23), 'Customer Relations')
(165, 'JoLynn', 'M', 'Spoon', 'FH267421E ', datetime.date(1982, 10, 7), 'Litigation')
(166, 'Bryan', None, 'Sousa', 'RY783836I ', datetime.date(1978, 4, 30), 'Commercial')
(167, 'James', 'D', 'Song', 'QK335062S ', datetime.date(1981, 7, 19), 'Litigation')
(168, 'Nancy', 'A', 'Smith', 'KK563253K ', datetime.date(1966, 12, 10), 'Commercial')
(169, 'Simon', 'D', 'Smith', 'FU586271D ', datetime.date(1984, 5, 16), 'Litigation')
(170, 'Thomas', 'R', 'Smith', 'AP079315D ', datetime.date(1970, 1, 13), 'HR')
(171, 'Eugene', 'O', 'Smith', 'ZN301297L ', datetime.date(1970, 3, 26), 'HR')
(172, 'Andrew', 'R', 'Smith', 'RU424844O ', datetime.date(1976, 2, 18), 'HR')
(173, 'Ruth', 'Ann', 'Smith', 'NA760925P ', datetime.date(1990, 2, 5), 'Litigation')
(174, 'Barry', 'K', 'Singh', 'XX675669J ', datetime.date(1991, 11, 5), 'Commercial')
(175, 'Sidney', 'M', 'Simon', 'UX037427K ', datetime.date(1975, 5, 20), 'Commercial')
(176, 'Jeffrey', 'L', 'Shoop', 'YF178043W ', datetime.date(1981, 6, 7), 'Litigation')
(177, 'Doris', 'M', 'Sheperdigian', 'ON477598X ', datetime.date(1979, 4, 28), 'Commercial')
(178, 'Diane', 'R', 'Sharma', 'IV001488G ', datetime.date(1974, 4, 8), 'Customer Relations')
(179, 'Bonnie', 'N', 'Shabalin', 'SY920270U ', datetime.date(1971, 6, 1), 'Commercial')
(180, 'Taylor', 'R', 'Selikoff', 'JX287207O ', datetime.date(1983, 6, 3), 'Litigation')
(181, 'Denise', 'H', 'Seamans', 'GJ414243K ', datetime.date(1967, 11, 9), 'Customer Relations')
(182, 'Frank', 'T', 'Scardelis', 'AU270589J ', datetime.date(1969, 4, 28), 'HR')
(183, 'Kendall', 'C', 'Saraiva', 'IQ768024J ', datetime.date(1992, 3, 17), 'Customer Relations')
(184, 'Bob', 'N', 'Sandberg', 'WR095338D ', datetime.date(1989, 10, 26), 'Litigation')
(185, 'Pete', 'C', 'SÃ¡nchez', 'RO623911G ', datetime.date(1993, 3, 30), 'HR')
(186, 'Diane', 'H', 'Samarawickrama', 'WK839526U ', datetime.date(1968, 11, 12), 'Customer Relations')
(187, 'John', 'T', 'Samant', 'XS703927P ', datetime.date(1966, 10, 24), 'Commercial')
(188, 'Maciej', 'W', 'Sam', 'HA443152A ', datetime.date(1994, 1, 31), 'Customer Relations')
(189, 'Michael', 'J', 'Salmre', 'IF576121L ', datetime.date(1988, 7, 8), 'Customer Relations')
(190, 'Randy', 'T', 'Salavaria', 'OB958801K ', datetime.date(1977, 8, 15), 'Litigation')
(191, 'Karan', 'R', 'Sacksteder', 'GL208415K ', datetime.date(1986, 6, 12), 'Litigation')
(192, 'Jay', 'G', 'Ruth', 'SU217027D ', datetime.date(1986, 9, 28), 'HR')
(193, 'Charles', 'B', 'Rounthwaite', 'WQ237019J ', datetime.date(1991, 10, 18), 'HR')
(194, 'Steve', 'F', 'Rothkugel', 'YL673909Y ', datetime.date(1986, 1, 28), 'Commercial')
(195, 'David', 'J', 'Rodman', 'SI132036J ', datetime.date(1972, 4, 7), 'Litigation')
(196, 'Michael', 'Sean', 'Rodgers', 'NI641299B ', datetime.date(1982, 7, 26), 'Litigation')
(197, 'Steven', 'T', 'Rockne', 'MM990626R ', datetime.date(1969, 12, 26), 'HR')
(198, 'Carole', 'M', 'Robinson', 'LA586100J ', datetime.date(1966, 8, 1), 'Commercial')
(199, 'Bjorn', 'M', 'Robinson', 'MS873892G ', datetime.date(1977, 3, 10), 'HR')
(200, 'Michiko', 'F', 'Robinett', 'FU588676X ', datetime.date(1981, 12, 23), 'HR')
(201, 'Carol', 'M', 'Roberts', 'QX474508L ', datetime.date(1991, 6, 25), 'Litigation')
(202, 'Merav', 'A', 'Rizzi', 'FS933541U ', datetime.date(1988, 3, 16), 'Commercial')
(203, 'Reuben', 'H', 'Richter', 'CE492472U ', datetime.date(1976, 12, 15), 'Customer Relations')
(204, 'Eric', 'L', 'Richmeier', 'GI672952C ', datetime.date(1970, 10, 18), 'Litigation')
(205, 'Sandeep', 'P', 'Richins', 'WQ734683W ', datetime.date(1969, 3, 27), 'Customer Relations')
(206, 'Mihail', 'U', 'Richins', 'AT855605R ', datetime.date(1981, 6, 22), 'Litigation')
(207, 'Jack', 'T', 'Richards', 'ML487121S ', datetime.date(1980, 6, 11), 'Commercial')
(208, 'Patrick', 'M', 'Richards', 'PH151087Y ', datetime.date(1985, 1, 31), 'Customer Relations')
(209, 'Frank', 'R', 'Rhodes', 'GW931567T ', datetime.date(1981, 4, 1), 'Customer Relations')
(210, 'Brian', 'Richard', 'Rhodes', 'HK672162G ', datetime.date(1967, 7, 10), 'Commercial')
(211, 'Ryan', 'L', 'Reynolds', 'SN571717M ', datetime.date(1975, 3, 30), 'Commercial')
(212, 'Cristian', 'K', 'Rettig', 'GR737860U ', datetime.date(1987, 4, 11), 'HR')
(213, 'Betsy', 'A', 'Remmington', 'MG422105J ', datetime.date(1977, 12, 17), 'Customer Relations')
(214, 'Patrick', 'C', 'Remick', 'AA745935J ', datetime.date(1970, 3, 4), 'HR')
(215, 'Danielle', 'C', 'Reiter', 'EC012012X ', datetime.date(1975, 5, 9), 'HR')
(216, 'Kimberly', 'B', 'Reeves', 'JC715470Z ', datetime.date(1979, 8, 14), 'Litigation')
(217, 'Tom', 'M', 'Reeves', 'CG625194N ', datetime.date(1992, 4, 21), 'HR')
(218, 'Kok-Ho', 'T', 'Reed', 'QM827526U ', datetime.date(1987, 6, 8), 'HR')
(219, 'Russell', None, 'Reed', 'CW347088A ', datetime.date(1989, 11, 6), 'HR')
(220, 'Jim', 'H', 'Reding', 'NY480363H ', datetime.date(1988, 12, 23), 'Litigation')
(221, 'Elizabeth', 'I', 'Rector', 'KP298792T ', datetime.date(1977, 5, 11), 'Customer Relations')
(222, 'Mandar', 'H', 'ReÃ¡tegui Alayo', 'RA549593S ', datetime.date(1986, 7, 16), 'Customer Relations')
(223, 'Sameer', 'A', 'Reams', 'YG615891A ', datetime.date(1972, 12, 3), 'HR')
(224, 'Nuan', None, 'Ray', 'ND117517F ', datetime.date(1978, 11, 20), 'Litigation')
(225, 'Lolan', 'B', 'Ray', 'SK649995H ', datetime.date(1980, 10, 26), 'Litigation')
(226, 'Houman', 'N', 'Rapier', 'AM866046T ', datetime.date(1980, 7, 4), 'Commercial')
(227, 'Zheng', 'W', 'Rapier', 'JB411618S ', datetime.date(1970, 3, 11), 'Litigation')
(228, 'Ebru', 'N', 'Rao', 'SC540325S ', datetime.date(1988, 2, 27), 'HR')
(229, 'Mary', 'R', 'Rao', 'TI717406L ', datetime.date(1986, 6, 22), 'Litigation')
(230, 'Kevin', 'M', 'Randall', 'ZH651560A ', datetime.date(1978, 5, 7), 'Customer Relations')
(231, 'John', 'T', 'Randall', 'KZ709454P ', datetime.date(1973, 8, 3), 'Litigation')
(232, 'Christopher', 'E', 'Randall', 'GK886830E ', datetime.date(1984, 10, 13), 'HR')
(233, 'Jinghao', 'K', 'Ramos', 'PH768497F ', datetime.date(1982, 7, 18), 'HR')
(234, 'Alice', 'O', 'Ralls', 'NN434556K ', datetime.date(1968, 10, 17), 'Litigation')
(235, 'Jun', 'T', 'Ralls', 'LI040384W ', datetime.date(1984, 1, 12), 'Litigation')
(236, 'Suroor', 'R', 'Raheem', 'XA357061W ', datetime.date(1991, 7, 17), 'Commercial')
(237, 'John', 'P', 'Quintana', 'FC275045Q ', datetime.date(1974, 7, 7), 'Litigation')
(238, 'Linda', 'K', 'Quintana', 'FM512571D ', datetime.date(1985, 5, 1), 'Litigation')
(239, 'Mindaugas', 'J', 'Purcell', 'HT765655S ', datetime.date(1970, 8, 5), 'HR')
(240, 'Angela', 'W', 'Pugh', 'DJ470629J ', datetime.date(1982, 2, 18), 'Litigation')
(241, 'Michael', 'W', 'Price', 'ZL793802F ', datetime.date(1975, 2, 18), 'Litigation')
(242, 'Chad', 'W', 'Preston', 'HS184360Y ', datetime.date(1989, 10, 20), 'Commercial')
(243, 'Don', 'L', 'Preston', 'TW819126B ', datetime.date(1974, 8, 10), 'Commercial')
(244, 'Michael', 'T', 'Pournasseh', 'UR929065D ', datetime.date(1982, 2, 1), 'Commercial')
(245, 'Kitti', 'H', 'Potts', 'RW333854L ', datetime.date(1992, 5, 4), 'Customer Relations')
(246, 'Pilar', 'G', 'Posner', 'RP789319Y ', datetime.date(1987, 11, 11), 'Customer Relations')
(247, 'Susan', 'W', 'Porter', 'ZO581568G ', datetime.date(1994, 2, 18), 'Litigation')
(248, 'Vamsi', 'N', 'Porter', 'RH703735B ', datetime.date(1973, 12, 27), 'Customer Relations')
(249, 'Kim', 'T', 'Poorbaugh', 'NJ860316M ', datetime.date(1986, 3, 5), 'Commercial')
(250, 'Matthias', 'T', 'Pompa', 'LX772351W ', datetime.date(1972, 4, 26), 'Litigation')
(251, 'Jimmy', 'T', 'Pollock', 'PK276903A ', datetime.date(1973, 9, 23), 'Customer Relations')
(252, 'David', 'P', 'Poland', 'GB292840S ', datetime.date(1993, 2, 10), 'Commercial')
(253, 'Paul', 'B', 'Poland', 'CX993916W ', datetime.date(1977, 7, 28), 'Customer Relations')
(254, 'Gary', 'W', 'Pogulsky', 'SA636072H ', datetime.date(1972, 5, 24), 'Customer Relations')
(255, 'Rob', 'T', 'Poe', 'PQ895161T ', datetime.date(1994, 3, 18), 'Litigation')
(256, 'Baris', 'F', 'Poe', 'AU964816Y ', datetime.date(1966, 7, 9), 'Commercial')
(257, 'Nicole', 'B', 'Pinto', 'YY859015L ', datetime.date(1993, 9, 3), 'HR')
(258, 'Michael', 'L', 'Pinkston', 'CT732927U ', datetime.date(1966, 1, 5), 'Commercial')
(259, 'Eric', None, 'Philips', 'WZ443467Z ', datetime.date(1973, 7, 8), 'HR')
(260, 'Ivo', 'William', 'Philips', 'ZW022113Z ', datetime.date(1976, 7, 26), 'Commercial')
(261, 'Sylvester', 'A', 'Pettengill', 'WW746868C ', datetime.date(1984, 10, 2), 'Commercial')
(262, 'Anibal', 'T', 'Peterson', 'VU920256D ', datetime.date(1974, 12, 11), 'Customer Relations')
(263, 'Samantha', 'H', 'Peters', 'EI963658C ', datetime.date(1980, 6, 29), 'HR')
(264, 'Hung-Fu', 'T', 'Petculescu', 'CZ960714K ', datetime.date(1991, 3, 17), 'Commercial')
(265, 'Prasanna', 'E', 'Perko', 'LT390489X ', datetime.date(1982, 8, 22), 'Litigation')
(266, 'Min', 'G', 'Perera', 'AU901464Z ', datetime.date(1973, 4, 8), 'HR')
(267, 'Olinda', 'C', 'Peoples', 'QR897308Y ', datetime.date(1977, 8, 22), 'Customer Relations')
(268, 'Krishna', None, 'Peoples', 'CM554364N ', datetime.date(1992, 11, 9), 'Litigation')
(269, 'Paul', 'R', 'Penuchot', 'GK110938D ', datetime.date(1981, 9, 13), 'HR')
(270, 'Cynthia', 'S', 'Penuchot', 'PH373860L ', datetime.date(1978, 5, 11), 'Litigation')
(271, 'Jian Shuo', None, 'Penor', 'ZR192112Z ', datetime.date(1989, 2, 18), 'Commercial')
(272, 'Sandra', None, 'Pellow', 'MP748399N ', datetime.date(1975, 5, 11), 'Commercial')
(273, 'Jason', 'M', 'Pellow', 'LF044303H ', datetime.date(1975, 1, 22), 'Customer Relations')
(274, 'Andy', 'M', 'Pederson', 'YK835341N ', datetime.date(1972, 4, 12), 'HR')
(275, 'Michael', 'T', 'Patten', 'QH580920P ', datetime.date(1967, 6, 6), 'HR')
(276, 'Rostislav', 'E', 'Patten', 'MU608808O ', datetime.date(1975, 4, 12), 'HR')
(277, 'Yuhong', 'L', 'Pather', 'UQ790735F ', datetime.date(1982, 1, 4), 'Customer Relations')
(278, 'Hanying', 'P', 'Patel', 'XD324192E ', datetime.date(1969, 3, 7), 'Litigation')
(279, 'Raymond', 'K', 'Patel', 'KA832378H ', datetime.date(1970, 12, 7), 'Commercial')
(280, 'Fadi', 'K', 'Park', 'JZ001131Q ', datetime.date(1993, 9, 19), 'Litigation')
(281, 'Lane', 'M', 'Pak', 'XI744325C ', datetime.date(1966, 3, 22), 'Customer Relations')
(282, 'Linda', 'A', 'Pai', 'FV616018T ', datetime.date(1974, 10, 6), 'Customer Relations')
(283, 'Shelley', 'N', 'Oviatt', 'HO986911C ', datetime.date(1985, 2, 9), 'HR')
(284, 'Terrence', 'W', 'Oveson', 'MA204130V ', datetime.date(1987, 4, 7), 'Litigation')
(285, 'Jeff', 'V', 'Osorio', 'LQ049157Q ', datetime.date(1980, 4, 5), 'Commercial')
(286, 'Kirk', 'J', 'Osborn', 'KK553556R ', datetime.date(1982, 2, 3), 'HR')
(287, 'Laura', 'C', 'Osada', 'VB289488Z ', datetime.date(1975, 6, 1), 'Litigation')
(288, 'Alex', 'M', 'Osada', 'DD374841L ', datetime.date(1979, 5, 5), 'Litigation')
(289, 'Andrew', 'M', 'Ortiz', 'OZ039664I ', datetime.date(1976, 11, 11), 'Commercial')
(290, 'Chris', 'T', 'Ortiz', 'ND888679U ', datetime.date(1988, 2, 4), 'Litigation')
(291, 'Jack', 'S', 'Ortiz', 'LL343666X ', datetime.date(1970, 10, 11), 'Litigation')
(292, 'David', 'N', 'Ortiz', 'SN532038Q ', datetime.date(1976, 1, 20), 'HR')
(293, 'Garrett', 'R', 'Orona', 'QO787401K ', datetime.date(1977, 12, 14), 'Customer Relations')
(294, 'Susan', 'A', 'Orman', 'MO580458R ', datetime.date(1966, 3, 23), 'Commercial')
(295, 'George', 'Z', 'Olivotto', 'HY924529A ', datetime.date(1986, 5, 30), 'Litigation')
(296, 'David', 'A', 'Olguin', 'ZV172930Z ', datetime.date(1968, 5, 7), 'HR')
(297, 'Marc', 'J', 'Okelberry', 'RR256994D ', datetime.date(1988, 3, 4), 'Customer Relations')
(298, 'Eugene', 'R', "O'Hara", 'NM819987N ', datetime.date(1987, 5, 26), 'Commercial')
(299, 'Benjamin', 'R', 'Ogisu', 'OT086299T ', datetime.date(1975, 11, 3), 'Customer Relations')
(300, 'Reed', 'T', "O'Dell", 'VL412247Y ', datetime.date(1984, 6, 6), 'Litigation')
(301, 'David', 'Oliver', "O'Connell", 'HZ405123P ', datetime.date(1968, 9, 20), 'Customer Relations')
(302, 'Russell', 'M', "O'Brien", 'EZ129095R ', datetime.date(1979, 2, 11), 'Customer Relations')
(303, 'John', 'N', 'Nusbaum', 'UN164874N ', datetime.date(1968, 11, 11), 'Litigation')
(304, 'Jan', 'S', 'Northup', 'TS562783H ', datetime.date(1987, 9, 23), 'Commercial')
(305, 'Katie', 'L', 'Northup', 'TQ646527J ', datetime.date(1967, 8, 2), 'Litigation')
(306, 'Michael', 'T', 'Norred', 'JN963479H ', datetime.date(1967, 10, 19), 'HR')
(307, 'Nitin', 'S', 'Norman', 'OC255205P ', datetime.date(1981, 12, 15), 'Litigation')
(308, 'Barbara', 'S', 'Norman', 'XO300911I ', datetime.date(1991, 6, 11), 'Litigation')
(309, 'John', 'Y', 'Nixon', 'NO932055Z ', datetime.date(1993, 4, 26), 'Customer Relations')
(310, 'Stefen', 'A', 'Niswonger', 'ZE648808G ', datetime.date(1978, 8, 20), 'Litigation')
(311, 'Shane', 'S', 'Nilson', 'HT054267D ', datetime.date(1977, 3, 15), 'Litigation')
(312, 'Yvonne', 'S', 'Newman', 'KR399457K ', datetime.date(1970, 5, 14), 'Commercial')
(313, 'Douglas', 'B', 'Netz', 'FO694910M ', datetime.date(1990, 3, 9), 'Customer Relations')
(314, 'Janeth', 'M', 'Netz', 'UO942878M ', datetime.date(1988, 11, 19), 'Commercial')
(315, 'Robert', 'J', 'Nelson', 'CG190765E ', datetime.date(1981, 11, 25), 'Litigation')
(316, 'Lionel', 'C', 'Nelsen', 'WR558489F ', datetime.date(1969, 12, 20), 'Litigation')
(317, 'Brenda', 'M', 'Nayberg', 'DO284313U ', datetime.date(1971, 2, 20), 'HR')
(318, 'Alejandro', 'E', 'Nayberg', 'NE097774R ', datetime.date(1967, 10, 17), 'HR')
(319, 'Fred', 'T', 'Nay', 'IM995961W ', datetime.date(1987, 11, 30), 'Commercial')
(320, 'Kevin', 'H', 'Nay', 'ZK847878W ', datetime.date(1989, 2, 20), 'Commercial')
(321, 'Shammi', 'G', 'Nash', 'EW458203L ', datetime.date(1968, 4, 27), 'HR')
(322, 'Rajesh', 'M', 'Nartker', 'JB783423G ', datetime.date(1987, 12, 31), 'HR')
(323, 'Lorraine', 'O', 'Naik', 'LY344333R ', datetime.date(1975, 3, 6), 'Customer Relations')
(324, 'Paula', 'R', 'Myer', 'UM375041E ', datetime.date(1985, 3, 12), 'Commercial')
(325, 'Frank', 'T', 'Myer', 'RM433520A ', datetime.date(1970, 1, 28), 'Commercial')
(326, 'Brian', 'T', 'Myer', 'NJ837536J ', datetime.date(1979, 12, 15), 'HR')
(327, 'Tawana', 'G', 'Murray', 'KF558209L ', datetime.date(1984, 12, 4), 'HR')
(328, 'Ken', 'L', 'Munson', 'WY111892C ', datetime.date(1979, 6, 13), 'Commercial')
(329, 'Gabe', 'B', 'Munson', 'IH193140I ', datetime.date(1981, 4, 6), 'Litigation')
(330, 'Lori', 'A', 'Mungin', 'WR639349T ', datetime.date(1985, 12, 5), 'Commercial')
(331, 'Stuart', 'V', 'Mughal', 'EX456780U ', datetime.date(1986, 10, 24), 'Customer Relations')
(332, 'Greg', 'F', 'Mu', 'UU417076U ', datetime.date(1979, 12, 26), 'Commercial')
(333, 'Scott', 'R', 'Mu', 'HE276747M ', datetime.date(1969, 11, 25), 'Customer Relations')
(334, 'Kathie', 'E', 'Moya', 'PF404453T ', datetime.date(1974, 10, 28), 'Litigation')
(335, 'Belinda', 'M', 'Moseley', 'LR982813D ', datetime.date(1974, 8, 16), 'Litigation')
(336, 'Hazem', 'E', 'Moschell', 'HV244764I ', datetime.date(1982, 2, 1), 'Customer Relations')
(337, 'Peng', 'J', 'Morris', 'AR850926O ', datetime.date(1991, 11, 29), 'HR')
(338, 'Sootha', 'T', 'Moreland', 'NR574916Z ', datetime.date(1981, 11, 15), 'Customer Relations')
(339, 'Andreas', 'T', 'Moreland', 'VM291445T ', datetime.date(1993, 11, 2), 'Customer Relations')
(340, 'Mark', 'L', 'Moore', 'LN831561X ', datetime.date(1988, 8, 5), 'HR')
(341, 'Sean', 'P', 'Montera', 'RY686119B ', datetime.date(1968, 7, 6), 'Commercial')
(342, 'Zainal', 'T', 'Monroe', 'GA025362V ', datetime.date(1980, 2, 17), 'HR')
(343, 'Tengiz', 'N', 'Monitor', 'XJ612479F ', datetime.date(1968, 12, 24), 'Litigation')
(344, 'Sean', 'N', 'Mohan', 'WK803868K ', datetime.date(1968, 10, 2), 'Commercial')
(345, 'Karen', 'R', 'Mohan', 'ER008587V ', datetime.date(1985, 5, 25), 'HR')
(346, 'Chris', 'K', 'Mohamed', 'LR083676G ', datetime.date(1991, 11, 11), 'HR')
(347, 'A. Scott', None, 'Mohamed', 'ZK918198D ', datetime.date(1969, 10, 26), 'HR')
(348, 'Sairaj', 'L', 'Moeller', 'AN827627L ', datetime.date(1984, 3, 26), 'Litigation')
(349, 'William', 'S', 'Moberly', 'HP478620Y ', datetime.date(1984, 4, 7), 'Customer Relations')
(350, 'Alan', 'J', 'Mitzner', 'XY414517N ', datetime.date(1967, 5, 31), 'HR')
(351, 'Brian', 'P', 'Mitosinka', 'HN879180K ', datetime.date(1991, 4, 3), 'Commercial')
(352, 'Gary', 'E.', 'Mitchell', 'ZG909295K ', datetime.date(1970, 8, 9), 'Commercial')

In [54]:
# query = """
# use newdb;
# drop table if exists stocks;
# create table stocks (
# Date date not null PRIMARY KEY,
# Open_Price numeric(9, 6) not null,
# High_Price numeric(9, 6) not null,
# Low_Price numeric(9, 6) not null,
# Close_Price numeric(9, 6) not null,
# Adj_Close numeric(9, 6) not null,
# Volume int not null
# );
# """""

query = """
use master
select * from tblEmployee
"""

In [55]:
cursor.execute(query)

In [56]:
text_file = open(rf"{ROOT_DIR}/data/sql/CreateDatabaseSession7.sql", "r")
data_query = text_file.read()
text_file.close()

In [57]:
data_query = f"use [70_461_Session7]; {data_query}"

In [58]:
cursor.execute(data_query)

#### Get stocks data for Bank of America from yahoo finance api

In [6]:
yf.pdr_override()
startdate = datetime(2006,1,1)
enddate = datetime(2016,1,1)

In [7]:
data = pdr.get_data_yahoo(["BAC"], start=startdate, end=enddate)

[*********************100%***********************]  1 of 1 completed

In [8]:
data.reset_index(inplace=True)

In [9]:
data.to_csv(rf"{ROOT_DIR}\data\stocks.csv", index=False)

In [10]:
data.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2006-01-03  46.919998  47.180000  46.150002  47.080002  33.170311  16296700
1 2006-01-04  47.000000  47.240002  46.450001  46.580002  32.818039  17757900
2 2006-01-05  46.580002  46.830002  46.320000  46.639999  32.860313  14970700
3 2006-01-06  46.799999  46.910000  46.349998  46.570000  32.810982  12599800
4 2006-01-09  46.720001  46.970001  46.360001  46.599998  32.832123  15619400

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2517 non-null   datetime64[ns]
 1   Open       2517 non-null   float64
 2   High       2517 non-null   float64
 3   Low        2517 non-null   float64
 4   Close      2517 non-null   float64
 5   Adj Close  2517 non-null   float64
 6   Volume     2517 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 137.8 KB

#### Insert data to sql server table stocks

In [12]:
cols = ["Date", "Open_Price", "High_Price", "Low_Price", "Close_Price", "Adj_Close", "Volumne"]
records = data.values.tolist()

In [13]:
sql_insert = """ 
    insert into stocks
    values (?, ?, ?, ?, ?, ?, ?)
"""

In [14]:
cursor.executemany(sql_insert, records)

#### Rolling and expanding functions using pandas

In [15]:
data.set_index("Date", inplace=True)

In [16]:
open_rolling_agg = data[["Open"]].rolling(5, min_periods=3).agg(["mean", "sum", "max", "min"])

In [17]:
open_rolling_agg.head(10)

                 Open
                 mean         sum        max        min
Date
2006-01-03        NaN         NaN        NaN        NaN
2006-01-04        NaN         NaN        NaN        NaN
2006-01-05  46.833333  140.500000  47.000000  46.580002
2006-01-06  46.825000  187.299999  47.000000  46.580002
2006-01-09  46.804000  234.020000  47.000000  46.580002
2006-01-10  46.700001  233.500004  47.000000  46.400002
2006-01-11  46.512001  232.560005  46.799999  46.060001
2006-01-12  46.440001  232.200005  46.799999  46.060001
2006-01-13  46.246001  231.230007  46.720001  45.830002
2006-01-17  45.982001  229.910007  46.400002  45.400002

In [18]:
data.head(10)

                 Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03  46.919998  47.180000  46.150002  47.080002  33.170311  16296700
2006-01-04  47.000000  47.240002  46.450001  46.580002  32.818039  17757900
2006-01-05  46.580002  46.830002  46.320000  46.639999  32.860313  14970700
2006-01-06  46.799999  46.910000  46.349998  46.570000  32.810982  12599800
2006-01-09  46.720001  46.970001  46.360001  46.599998  32.832123  15619400
2006-01-10  46.400002  46.509998  45.880001  46.209999  32.557362  15634600
2006-01-11  46.060001  46.250000  45.750000  46.099998  32.479851  14742100
2006-01-12  46.220001  46.230000  45.709999  45.799999  32.268478  10546600
2006-01-13  45.830002  46.000000  45.680000  45.799999  32.268478  10791000
2006-01-17  45.400002  45.580002  45.000000  45.310001  31.923264  14605900

In [19]:
open_expanding_sum = data[["Open"]].expanding(5).sum()
open_expanding_mean = data[["Open"]].expanding(5).mean()
open_expanding_max = data[["Open"]].expanding(5).max()
open_expanding_min = data[["Open"]].expanding(5).min()

In [20]:
open_expanding_sum.head(10)

                  Open
Date
2006-01-03         NaN
2006-01-04         NaN
2006-01-05         NaN
2006-01-06         NaN
2006-01-09  234.020000
2006-01-10  280.420002
2006-01-11  326.480003
2006-01-12  372.700005
2006-01-13  418.530006
2006-01-17  463.930008

In [21]:
data.head(10)

                 Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03  46.919998  47.180000  46.150002  47.080002  33.170311  16296700
2006-01-04  47.000000  47.240002  46.450001  46.580002  32.818039  17757900
2006-01-05  46.580002  46.830002  46.320000  46.639999  32.860313  14970700
2006-01-06  46.799999  46.910000  46.349998  46.570000  32.810982  12599800
2006-01-09  46.720001  46.970001  46.360001  46.599998  32.832123  15619400
2006-01-10  46.400002  46.509998  45.880001  46.209999  32.557362  15634600
2006-01-11  46.060001  46.250000  45.750000  46.099998  32.479851  14742100
2006-01-12  46.220001  46.230000  45.709999  45.799999  32.268478  10546600
2006-01-13  45.830002  46.000000  45.680000  45.799999  32.268478  10791000
2006-01-17  45.400002  45.580002  45.000000  45.310001  31.923264  14605900

#### Rolling and expanding aggregates using sql server

In [22]:
rolling_sum_query = """ 
    select Date,
    sum(Open_Price) over (order by Date rows between 4 preceding and current row) Rolling_Open_Sum_Rows,
    Open_Price
    from stocks
"""

In [24]:
rolling_sum = pd.read_sql(rolling_sum_query, conn)

c:\Users\meeta\OneDrive\Documents\pyscripts\.myenv\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [25]:
rolling_sum

            Date  Rolling_Open_Sum_Rows  Open_Price
0     2006-01-03              46.919998   46.919998
1     2006-01-04              93.919998   47.000000
2     2006-01-05             140.500000   46.580002
3     2006-01-06             187.299999   46.799999
4     2006-01-09             234.020000   46.720001
...          ...                    ...         ...
2512  2015-12-24              85.700000   17.320000
2513  2015-12-28              85.729998   17.219999
2514  2015-12-29              85.999998   17.250000
2515  2015-12-30              86.150000   17.200001
2516  2015-12-31              86.000000   17.010000

[2517 rows x 3 columns]